
* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.background-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 170%;
    background: url('back2.jpg') repeat-x;
    /* animation: moveClouds 30s linear infinite; */
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

.history {
    max-width: 100%;
    width: 800px;
    margin: 0 auto; /* Center the content horizontally */
    padding-left: 5%; /* Use percentage for responsive padding */
}

.history h1 {
    font-size: 45px;
    color: rgb(9, 91, 158);
}

.history h2 {
    font-size: 23px;
}

.history p {
    font-size: 18px;
    color: rgb(37, 51, 4);
}

