/* design the university logo */
#logo{
    padding: 0;
}

#logo h1{
    color: white;
}

.cloud-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('cloudy.jpg') repeat-x;
    animation: moveClouds 30s linear infinite; /* Adjust the animation duration as needed */
    z-index: -1;
}

@keyframes moveClouds {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

#universityName{
    width: 50%;
    height: 700px;
    text-align: center;
    position: relative;
    left: 500px;
   
}

#universityName h1{
    font-size: 100px;
    color: wheat;
}

#universityName p{
    font-size: 24px;
    color: whitesmoke;
}

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply basic styles to the body */
body {
    font-family: Arial, sans-serif;
}

/* Style the header and navigation */
header {
    /* background-color: #333; */
    color: #fff;
    padding: 10px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 0px;
    padding-left: 100px;
    
}

nav a {
    text-decoration: none;
    color: #161616;
    font-weight: bolder;
    font-size: 40px;
}

/* Style the sections */
section {
    padding: 40px 0;
}

.glance{
    width: 100%;
    height: 300px;
    background-color: #acacac;
}

.glance h2{
    font-size: 40px;
    color: rgb(94, 93, 93);
    text-align: left;
    padding: 50px;
}

#glance1 p{
    font-size: 30px;
    position: relative;
    left: 650px;
    top: -100px;
    width: 800px;
    text-align: left;

}

.vertical-line {
    width: 3px; 
    height: 300px; /* Make the line extend the full height of its container */
    background-color: #524f4f; /* Set the color of the vertical line */
    position: absolute;
    left: 35%;
    top: 800px;
    transform: translateX(-50%);
}

.circular-arrow-button {
    display: inline-block;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    border-radius: 50px;
    padding: 10px 20px 10px 40px;
    background-color: #141414;
    color: #fff;
    transition: background-color 0.3s;
    position: relative;
    left: 700px;
    top: -40px;
}

.circular-arrow-button .circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;

}

.circular-arrow-button span {
    font-size: 20px;
    vertical-align: middle;
}

.circular-arrow-button:hover {
    background-color: #0056b3;
}

/* Style the footer */

footer {
    background-color: #333;
    color: #fff;
    /* text-align: center; */
    padding: 40px 40px;
    height: 300px;
    padding: 0 50px;

}

footer h2{
    color: aqua;
}

footer .container{
    margin-left: 100px;
    text-align: center;
}

#footer1{
    display: block;
    float: left;
    padding-left: 400px;
    padding-top: 50px;
}

#footer2{
    display: block;
    float: left;
    padding-left: 200px;
    padding-top: 50px;
}

#footer3{
    display: block;
    float: left;
    padding-left: 200px;
    padding-top: 50px;
}

.background{
    background-color: rgb(179, 176, 176);
}

.titlepart{
    color: black;
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
}

.coursesexplanations{
    text-align: center;
    margin-top: 50px;
}

h2{
    color: grey;
}

p{
    color: grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    margin-top: -16px;
}


.business{
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 240px;

}
h3{
    color: brown;
    font-size: 27px;
}

.businesspart{
    color: black;
    margin-top: -26px;
    font-size: 20px;
}

.button1{
    margin-left: 1100px;
    margin-top: -63px;
    color: red;
}

.allcourses{
    display: flex;
    list-style: none;
}
.Credential{
    margin-top: 40px;
    list-style: none;
    display: flex;
    margin-left: 50px;
    margin-right: 700px;

    border: 2px solid black ;
}

.explanations1{
    margin-top: -20px;
    margin-left: 10px;
}

h4{
    text-align: center;
    font-size: 23px;
}

.cosexpe{
    font-size: 15px;
}

h5{
    text-align: center;
}

.Analytics{
    list-style: none;
    display: flex;
    margin-left: 730px;
    margin-right:0px;
    margin-top: -220px;
    border: 2px solid black ;
  
}